<tr>
  <td><%= application.job.company.name %></td>
  <td><%= application.job.description %></td>
  <td><%= application.status.submission_status %></td>
  <td><%= link_to "Show the Application", application %>&nbsp; &nbsp; &nbsp;<%= link_to "Show the Job", application.job %></td>
</tr>