<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Company:</strong>
<% Company.all.collect do |company| %>
  <%= company.name if company.id == @user.company_id %>
<% end %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= button_to 'Edit', edit_users_admin_path(@user), method: :get %>