<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br/>
    <%= form.text_field :name, id: :company_name %>
  </div><br/>

  <div class="field">
    <%= form.label :website %><br/>
    <%= form.text_field :website, id: :company_website %>
  </div><br/>

  <div class="field">
    <%= form.label :headquarter %><br/>
    <%= form.text_field :headquarter, id: :company_headquarter %>
  </div><br/>

  <div class="field">
    <%= form.label :size %><br/>
    <%= form.select :size, ['1-50', '51-200', '201-500', '501-1000', '1000+'], id: :company_size %>
  </div><br/>

  <div class="field">
    <%= form.label :founded %><br/>
    <%= form.text_field :founded, id: :company_founded %>
  </div><br/>

  <div class="field">
    <%= form.label :industry %><br/>
    <%= form.select :industry, ['Aerospace', 'Agriculture', 'Chemical', 'Computer', 'Construction', 'Defense', 'Education', 'Energy', 'Entertainment', 'Financial', 'Food', 'Healthcare', 'Hospitality', 'Information', 'Manufacturing', 'Media', 'Mining', 'Telecommunications', 'Transport', 'Water', 'Others'], id: :company_industry %>
  </div><br/>

  <div class="field">
    <%= form.label :revenue %><br/>
    <%= form.number_field :revenue, id: :company_revenue %>
  </div><br/>

  <div class="field">
    <%= form.label :synopsis %><br/>
    <%= form.text_area :synopsis, id: :company_synopsis %>
  </div><br/>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
